.topback .header_bg{
    height: 100vh;
	background-size:cover;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body{
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
	/*font-family: "TsukuARdGothic-Regular","Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Osaka, sans-serif;*/
	background:#F6F6F6;
	letter-spacing: 0px;
	color:#fff;
}
#p2146-2-tbody tr:first-child {
  display: none;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
body {
  line-height: 1.5;
}
ol, ul {
  list-style: none;
}
ul{ list-style-type:none; margin:0; padding:0; } li{ margin:0; }
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
iframe{
	width:100%;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
 
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
address{
	font-style: normal;
}
/* tables still need 'cellspacing=0' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img{
	vertical-align:bottom;
}

.cf:after {
	content: "."; 
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.cf {
	min-height: 1px;
}

* html .cf {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
a:link,a:visited{
	color:#000;
	text-decoration:none;
	-webkit-transition: all .3s;
	transition: all .3s;
}
a:hover{
	text-decoration: none;
}
a[href^="tel:"] { cursor: default; }
.tar{
	text-align: right;
}
.tac{
	text-align: center;
}
.tal{
	text-align: left;
}

input{
-webkit-appearance: none;
border-radius: 0;
}

select {
    -webkit-appearance: button;
    appearance: button;
}
/*セレクト禁止の解除*/
*:not(input):not(textarea):not(select) {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

/*
* {
   -ms-user-select: auto !important;
   -moz-user-select: auto !important;
   -khtml-user-select: auto !important;
   -webkit-user-select: auto !important;
   user-select: auto !important;
}
*/

/*orignal CSS*/

.inner {
    width: 1080px;
    margin: 0 auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}
 
/* header */
#top-head {
    top: -100px;
    position: absolute;
    width: 100%;
    margin: 100px auto 0;
    padding: 20px 0 ;
    line-height: 1;
    z-index: 999;
	background:#66b7ec;
}
#top-head a,
#top-head {
    color: #fff;
    text-decoration: none;
}
#top-head .inner {
    position: relative;
}
#top-head .logo {
    float: left;
    font-size: 18px;
}

#global-nav ul {
    list-style: none;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
}
#global-nav ul li {
    float: left;
	letter-spacing: 0.1em;
}
#global-nav ul li a {
    padding: 15px;
	font-weight:200;
}
#global-nav ul li a:hover {
    background:#fff;
	color:#66b7ec;
	border-radius:10px;
}
/* Toggle Button */
#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}
#nav-toggle div {
    position: relative;
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #66b7ec;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}
@media screen and (max-width: 899px) {
	
    #top-head,
    .inner {
        width: 100%;
        padding: 0;
    }
    #top-head {
        top: 0;
        position: fixed;
        margin-top: 0;
    }
    /* Fixed reset */
    #top-head.fixed {
        padding-top: 0;
        background: transparent;
    }
    #mobile-head {
        background: #fff;
        width: 100%;
        height: 56px;
        z-index: 999;
        position: relative;
    }
    #top-head.fixed .logo a,
    #top-head .logo a {
        position: absolute;
        left: 13px;
        top: 13px;
        color: #66b7ec;
        font-size: 18px;
    }
    #global-nav {
        position: absolute;
        /* 開いてないときは画面外に配置 */
        top: -500px;
        background: #66b7ec;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    #global-nav ul {
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        font-size: 14px;
    }
    #global-nav ul li {
        float: none;
        position: static;
    }
    #top-head #global-nav ul li a,
    #top-head.fixed #global-nav ul li a {
        width: 100%;
        display: block;
        color: #fff;
        padding: 18px 0;
    }
	#global-nav ul li a:hover {
    background:#fff;
	color:#66b7ec !important;
	border-radius:0px;
}
    #nav-toggle {
        display: block;
    }
    /* #nav-toggle 切り替えアニメーション */
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    /* #global-nav スライドアニメーション */
    .open #global-nav {
        /* #global-nav top + #mobile-head height */
        -moz-transform: translateY(556px);
        -webkit-transform: translateY(556px);
        transform: translateY(556px);
    }
}
 
/* Fixed */
#top-head.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    padding-top: 10px;
    height: 55px;
    background: #fff;
    background: rgba(255,255,255,.7);
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
}
#top-head.fixed .logo {
    font-size: 10px;
    color: #333;
}
#top-head.fixed #global-nav ul li a {
    color: #333;
    padding: 0 20px;
}
#global-nav ul li.current a{
	color:#FFF353 !important;
	font-weight: bold;
}
#global-nav ul li.current a:hover{
	background:#fff;
	color:#66b7ec !important;
	border-radius:10px;
}




.container{
	position:relative;
	width:80%;
	margin:80px auto 0;
	color:#000;
}
@media screen and (max-width:899px){
	.container{
	position:relative;
	width:95%;
	margin:130px auto 0;
	color:#000;
}
}
.title01,.title02{
	font-size:130%;
	margin:120px 0 40px;
	font-family: "TsukuARdGothic-Regular","Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Osaka, sans-serif;
	color:#3972B7;
}
.statusToday{
	border:solid 2px #3972B7;
	padding:20px;
	width:100%;
	background:#3972B7;
	color:#fff;
}
.statusToday h2{
	font-size:120%;
	margin-bottom:15px;
	font-family: "TsukuARdGothic-Regular","Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Osaka, sans-serif;
	letter-spacing: 0.1em;
}
.statusToday ul{
	margin-left:1em;
}
.statusToday ul li{
	letter-spacing: 0.1em;
}
.mainMenu {
	text-align: center;
	width:100%;
	margin:60px 0;
	
}
.mainMenu li {
	display: inline-block;
	text-align: center;
	font-size:100%;
	margin:0 10px;
	vertical-align: middle;
	letter-spacing: 0.1em;
}
.mainMenu li a{
	display: block;
	width:150px;
	padding:40px 20px;
	color:#fff;
	border:solid 2px #3972b7;
	font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
	-webkit-transition: all .5s;
	transition: all .5s;
	background: -moz-linear-gradient(top, #66b7ec 0%, #3972b7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #66b7ec 0%,#3972b7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #66b7ec 0%,#3972b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.mainMenu li a span{
	font-size:200%;
}
.mainMenu li a:hover{
	background:#fff;
	color:#3972b7;
}
@media screen and (max-width:899px){
	.mainMenu li{
		display: block;
		margin:5px 0;
	}
	.mainMenu li a{
	width:100% !important;
		padding:20px ;
		display: block;
}
	
	
}
.form label{
	font-size:90%;
}
.formInput input{
padding:10px;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#333;
border:solid 1px #ccc;
margin:0 0 10px;
width:600px;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.formInput input:focus {
    border:solid 1px #66b7ec;
}
::-webkit-input-placeholder {
    color: #c1c1c1;
	font-size:70%;
}
input[type="text"],input[type="tel"]{
	font-size:90%;
	
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    height: 30px;
    background: transparent;
    position: relative;
    z-index: 1;
    padding: 0 40px 0 10px;
    border: 1px solid #ccc;
	font-size:100%;
}
select::-ms-expand {
    display: none;
}
.btnWrap{
	margin:30px 0;
}
.btn{
	display: inline-block;
    padding: 0.5em 2em;
	margin:20px;
	font-size:110%;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
	letter-spacing: 0.2em;
	border-top:none;
	border-right:none;
	border-left:none;
	border-radius: 3px;
	-webkit-transition: all .3s;
	transition: all .3s
}
.btn:hover{
	color:#fff;
}
.btn:hover,.resetBtn:hover{
	cursor: pointer;
}
.btn:active,.resetBtn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.btn_red{
	display: inline-block;
    padding: 0.5em 2em;
	margin:20px;
	font-size:110%;
    text-decoration: none;
    background: #ff0000;/*ボタン色*/
    color: #FFF;
	font-weight:bold;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
	letter-spacing: 0.2em;
	border-top:none;
	border-right:none;
	border-left:none;
	border-radius: 3px;
	-webkit-transition: all .3s;
	transition: all .3s
}
.btn_red:hover,.resetBtn:hover{
	cursor: pointer;
}
.btn_red:active,.resetBtn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.resetBtn{
	display: inline-block;
    padding: 0.5em 2em;
	font-size:110%;
    text-decoration: none;
    background: #182f61;/*ボタン色*/
    color: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
	letter-spacing: 0.2em;
	border-top:none;
	border-right:none;
	border-left:none;
	border-radius: 3px;
	-webkit-transition: all .3s;
	transition: all .3s
}

.formInput2{
	margin-bottom:20px;
}
.formInput2 input,#datepicker{
padding:6px;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#333;
border:solid 1px #ccc;
margin:5px 20px 20px 0;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.formInput2 label{
	margin:0 1em 0 0;
}

input[type="submit"]{
	background:#0168b3;
	color:#fff;
	font-size:90%;
	padding:0.5em 3em;
	letter-spacing: 0.2em;
	border-radius: 10px;
	border:none;
	margin-bottom:2px;
}
input[type="submit"]:hover{
	cursor: pointer;
	background:#00a5e7;
}

/*orignal CSS END*/


/*tuika css*/

.resultbox{
	margin:5% 0 5% 0;
}
/*
.resultbox table{
	width:50%;
}
.resultbox table td,.resultbox table th{
	border:1px solid #000;
	text-align:center;
}*/
.form-group{
	margin:10px 0;
}
.check_list{
	margin:0 5%;
}
#kanja_tab{
	width:100%;
}
#kanja_tab h3{
	padding:0 0 0 30px;
	margin:0 30px 0 0;
	font-weight:normal;
}
#kanja_tab .check0{
	background-image:url(../img/check_0.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position:left;
}
#kanja_tab .check1{
	background:url(../img/check_1.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position:left;
}
#kanja_tab div{
	float:left;
	
}
.new_check h4{
	padding:0 0 0 30px;
	margin:10px 30px 30px 0;
	background-image:url(../img/check_0.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position:left;
	float:left;
}
.new_check .check{
	background-image:url(../img/check_1.png);
}

.sinri_check h4{
	padding:0 0 0 30px;
	margin:0 30px 0 0;
	background-image:url(../img/check_0.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position:left;
	float:left;
}
.sinri_check .check{
	background-image:url(../img/check_1.png);
}


.calender_title{
	float:left;
	width:130%;
}
#min_calender{
	float:left;
	width:30%;
	margin:10px 0 0 0;
}
#min_calender li{
	float:left;
	width:17%;
	text-align:center;
	background:#7097D7;
	color:#fff;
	margin:1px;
}
#min_calender li:hover{
	cursor: pointer;
	background-color:#FFFADC !important;
	color:#3972B7 !important;
}
.Sun,.Wed,.Thu,.Fri,.Sat{
	background:#4E5071 !important;
	color:#fff;
}
.new_check h4{
	padding:0 0 0 30px;
	margin:0 30px 0 0;
	background-image:url(../img/check_0.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position:left;
	float:left;
}
.new_check .check{
	background-image:url(../img/check_1.png);
}der_tab{
	float:right;
}
#calender_menu{
	margin:40px 0;
}
.calender_tab{
	float:right;
	width:30%;
	margin-top:-50px;
}
.calender_tab li{
	float:left;
	border-top:1px solid #d1d1d1;
	border-left:1px solid #d1d1d1;
	border-bottom:1px solid #d1d1d1;
	padding:4% 6%;
}
.calender_tab li:first-child{
	border-top-left-radius: 6px; 
-webkit-border-top-left-radius: 6px;
-moz-border-radius-topleft: 6px;
	border-bottom-left-radius: 6px; 
-webkit-border-bottom-left-radius: 6px; 
-moz-border-radius-bottomleft: 6px;
}
.calender_tab li:last-child{
	border-right:1px solid #d1d1d1;
	border-top-right-radius: 6px; 
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topright: 6px;
	border-bottom-right-radius: 6px; 
-webkit-border-bottom-right-radius: 6px; 
-moz-border-radius-bottomright: 6px;
}
.calender_tab li:hover{
	background-color:#76C60E;
	color:#fff;
	cursor: pointer;
}
.calender_mot{
	text-align:center;
	font-size:200%;
	border-top:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	background:#ededed;
	padding:10px 0;
}
.calender_mot h2{
	font-size:16px;
}
#table_area{
	width:100%;
}
#info_box{
	width:80%;
	margin:0 auto 30px;
	border:1px solid #d1d1d1;
	padding:15px 30px;
	background:#EDEDED;
	border-radius:10px;
}
#info_box .info_title{
	color:#0186CC;
	text-align:center;
	font-size:130%;
	margin-bottom:20px;
	letter-spacing: 0.1em;
}
#table_base{
	width:100%;
	margin-bottom:60px;
}
#table_base table{
	width:100%;
	border-top:solid 1px #d1d1d1;
	border-right:solid 1px #d1d1d1;
	font-size:80%;
}
#table_base th{
	border-bottom:solid 1px #d1d1d1;
	background:#EDEDED;
	vertical-align: middle;
	border-left:solid 1px #d1d1d1;
	padding:0;
}
#table_base th:nth-child(2){
	width:150px;
}
#table_base td{
	border-left:solid 1px #d1d1d1;
	padding:1%;
	border-bottom:solid 1px #d1d1d1;
	text-align: center;
	padding:5px 0;
}
#table_base td select{
	font-size:80%;
}
#table_base th.day_th_09{
	width:200px;
}
#table_base td.dey_td_09{
	text-align: left;
	padding:0 1em 0.5em 1em;
}

#LoginPage{
	position: relative;
}
#login_form{
	position: absolute;
	width: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#login_form img{
	width: 100%;
	margin:30px 0;
}
#login_form .text{
	font-size:14px;
	margin:30px 0;
}


input[type="date"] {
   -webkit-appearance: none;
   border-radius: 0;
	text-align:left;
	padding:10px 15px;
	font-size:14px;
	color:#999;
}


#mot_tablel{
	width:100%;
	border-top:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
}
#mot_tablel li{
	width:20%;
	float:left;
	padding:0;
	border-left:1px solid #d1d1d1;
	border-bottom:1px solid #d1d1d1;
}

ul[id^="mot_tablel_"]{
	width:45%;
	float:left;
	margin:1%;
	font-size:25%;
}
ul[id^="mot_tablel_"] li{
	width:20%;
	float:left;
}
.months_day_box{
	font-size:90%;
	padding:5px;
}
#mot_tablel li .day_title{
	text-align: center;
	padding:4px 0;
	background:#EDEDED;
}
#mot_tablel_0 li,#mot_tablel_1 li,#mot_tablel_2 li,#mot_tablel_3 li{
	border-right:1px solid #d1d1d1;
	border-top:1px solid #d1d1d1;
}
#mot_tablel_0, #mot_tablel_1,#mot_tablel_2,#mot_tablel_3{
	border-bottom:solid 1px #d1d1d1;
	border-left:solid 1px #d1d1d1;
}

.c_day{
	width:100%;
}
.c_day div{
	display: inline-block;
	vertical-align: middle;
	margin:0 1%;
}
.c_c_btn{
	padding:0.4em;
	border:solid 1px #d1d1d1;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); 
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); 
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
}
.c_day div:first-child,.c_day div:last-child{
	color:#666;
}
.c_day div:nth-child(2){
	padding:0.4em;
	border:solid 1px #d1d1d1;
	border-radius: 5px;
	color:#333;
}

#patient_list{
	width:100%;
	text-align: center;
	margin:20px 0;
	border-top:solid 1px #66b7ec;
}
#patient_list tr th,#patient_list tr td{
	padding:0.8em 0;
}
#patient_list tr th{
	background: #66b7ec;
	color:#fff;
	border-right:solid 1px #fff;
	
	}
#patient_list tr th:first-child{
	border-left:solid 1px #66b7ec;
}
#patient_list tr th:last-child{
	border-right:solid 1px #66b7ec;
}
#patient_list tr td{
	border-right:solid 1px #d1d1d1;
	border-bottom:solid 1px #d1d1d1;
}
#patient_list tr td:first-child{
	border-left:solid 1px #d1d1d1;
}

.rireki_table{
	margin:40px;
}
ul[id^="mot_tablel_"] div{
	padding:2% 4%;
}
.day_title{
	border-bottom:1px solid #d1d1d1;
}
.fo_line{
	border-bottom:1px solid #eee;
}

.mot_aut{
	background-color:#eee;
	padding:0;
}

.reservation_opsion_area h4{
	margin:2% 0 0 0;
}
.reservation_opsion_area li{
	float:left;
	padding:0 0 0 30px;
	margin:0 0 0 10px;
	background:url(../img/check_off.png) no-repeat  left top;
	background-size:contain;
}
.reservation_opsion_area li:hover{
	cursor: pointer;
}
.reservation_opsion_area .check{
	background:url(../img/check_on.png) no-repeat left top;
	background-size:contain;
}
.not_day{
	color:#eee;
}
.b_text_area{
	width:60%;
	min-height:200px;
}
textarea.b_text_area{
	border:solid 1px #d1d1d1;
	border-radius:5px;
	font-size: 110%;
	padding:10px;
}


.user_select_btn{
	display: inline-block;
    padding: 0.5em 2em;
    margin:0.7em 0;
	font-size:80%;
    text-decoration: none;
    background: #66b7ec;/*ボタン色*/
	font-weight:bold;
    color: #FFF;
    border-bottom: solid 2px #177cbe;
	letter-spacing: 0.2em;
}
.user_select_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.b_btn{
	display: inline-block;
    padding: 0.8em 2.5em;
    margin:0.7em 0;
	font-size:80%;
    text-decoration: none;
    background: #66b7ec;/*ボタン色*/
    color: #FFF;
	letter-spacing: 0.2em;
	border-radius:5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}
.b_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.now_day{
	background-color:#FFFADC !important;
	color:#3972B7 !important;
}
.err_message{
	color:red;
}
/*tuika css END*/




































































canvas{
	width:90%;
}

/* set padding for iOS7 status bar */
.ua-ios-7 .ui-page, .ua-ios-8 .ui-page {
    padding-top: 63px !important;
}
.ua-ios-7 .ui-header, .ua-ios-8 .ui-header {
    top: 20px;
}
/*セレクトボックス用jqerymobileリセット*/
.ui-btn-corner-all {
    border-radius: 0px;
}
.ui-shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
}

.cf {*zoom:1;}
.cf:after{
    content: ""; 
    display: block; 
    clear: both;}
.cf { display: inline-table; }
.clear{	clear:both;}
/* Hides from IE-mac \*/
* html .cf { height: 1%; }
.cf { display: block; }
/* End hide from IE-mac */


/*ダイアログ*/
ons-alert-dialog {
	background:#fff;
	padding:15px;
	border-radius:20px;
}

#sidemenu i{
	padding:20px;
}
#sidemenu a{
	font-size:20px;
}


/*アラートダイアログ*/

.alert-dialog {
	letter-spacing: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 270px;
  margin: auto auto;
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  padding: 16px 0 0 0;
  max-width: 95%;
  color: #1f1f21;
	word-break : break-all;
}

.alert-dialog-mask {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
}



/*ロード中画面*/
.load {
  z-index:100;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height:100%;
  margin: auto auto;
  background-color: rgba(125,125,125,0.8);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  text-align:center;
}

.load-mask {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto auto;
  color:#fff;
}

/*チェックウィンドウ*/
.check_windo {
  z-index:100;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height:100%;
  margin: auto auto;
  background-color: rgba(255,255,255,0.98);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
	background:rgba(0,0,0,0.5);
}

.check_windo_table {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto auto;
  color:#000;
  width:50%;
	text-align: center;
	background:#fff;
}
.check_windo_table tr th,.check_windo_table tr td{
	border-bottom:1px solid #c1c1c1;
	borde-right:solid 1px #c1c1c1;
	padding:3%;
}
.check_windo_table tr:last-child{
	border-bottom:none;
}
.bikou_check{
	text-align: left;
}

.print_windo {
  z-index:100;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height:100%;
  margin: auto auto;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.98);
}

.print_windo_table {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto auto;
  color:#000;
  width:90%;
  height:90%;
}
.list_put_table table{
	width:100%;
}
.print_windo_table th,.print_windo_table td{
	border:1px solid #000;
	padding:0;
	width:16.6%;
}
.print_windo_table td:first-child,.print_windo_table td:nth-child(4){
	text-align: center;
}
.print_windo_tr{
	text-align: center;
}
.print_windo_table2 {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto auto;
  color:#000;
  width:90%;
  height:90%;
}
.print_windo_table2 th,.print_windo_table2 td{
	border:1px solid #000;
	padding:0;
	width:16.6%;
}
@media print{
	.print_windo_table{
		height:250mm;
	}
	.print_windo_table th,.print_windo_table td{
		padding:1mm;
		font-size:95%;
	}
}
#print{
  z-index:10000;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto auto;
  color:#000;
  width:100%;
  background:#fff;
  display:none;
}
@media print{
	/*印刷2枚バグ防止用*/
	.container{
		width:1080px;
	}
}
	.print_off{
		display:none;
	}

/*入力タイプナンバーの右側の矢印消し*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance:textfield;
}


/*********直塚追加**********/
.index_logo{
	width:300px;
	margin:0 auto;
}
.index_logo img{
	width:50%;
	height: auto;
}
#login_form{
	color:#000;
}
input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#login_form input{
	padding:8px;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#333;
border:solid 1px #ccc;
margin:0 0 20px;
width:400px;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.blue_btn{
	text-align: center;
	margin:40px 0;
	background:#3972B7;
	color:#fff;
	padding:0.6em 0;
	font-weight: 600;
	cursor: pointer;
	border:solid 1px #3972B7;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.blue_btn:hover{
	background:#fff;
	color:#3972B7;
}
.blue_btn i{
	padding-right:1em;
}
.label1{
	color:#66b7ec;
	letter-spacing: 0.1em;
}
.selectWrap label{
	margin:0 0.5em;
	vertical-align: bottom;
}

table.sarch_list{
	width:80%;
	margin:40px auto;
}
.sarch_list tr th,.new_Entry tr th{
	background:#66b7ec;
	color:#fff;
	border-right:solid 1px #fff;
}
.sarch_list tr td,.new_Entry tr td{
	border-right:1px solid #999;
	border-left:1px solid #999;
	border-bottom:solid 1px #999;
}
.sarch_list tr th,.sarch_list tr td,.new_Entry tr th,.new_Entry tr td{
	padding:0.8em 0;
	vertical-align: middle;
	text-align: center;
}
.sarch_list tr th:last-child,.new_Entry tr th:last-child{
	border-right:1px solid #66b7ec;
}
btn:hover{
	cursor: pointer;
}
.new_Entry h3{
	font-weight:normal;
}
.new_Entry {
	width:50%;
	margin:20px auto;
	text-align: center;
}
.reCat{
	margin-bottom:30px;
}
#in_name{
	padding:8px;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#333;
border:solid 1px #ccc;
margin:0 10px 20px;
width:200px;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.reservation_table{
	width:80%;
	margin:40px auto;
}
.reservation_table th,.reservation_table td{
	padding:0.8em 0;
	vertical-align: middle;
	text-align: center;
}
.reservation_table th:last-child{
	border-right:1px solid #66b7ec;
}
.reservation_table th{
	min-width: 120px;
	background:#66b7ec;
	color:#fff;
	border-right:solid 1px #fff;
}
.reservation_table td{
	border-right:1px solid #999;
	border-left:1px solid #999;
	border-bottom:solid 1px #999;
}

.reservation_table td .btn{
	display: inline-block;
	font-size:70% !important;
	letter-spacing: 0.01em;
    padding: 0.5em 1em;
	margin:20px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
	letter-spacing: 0.2em;
	border-top:none;
	border-right:none;
	border-left:none;
	border-radius: 3px;
	-webkit-transition: all .3s;
	transition: all .3s
}
.reservation_table td:nth-child(5){
	text-align: left;
	padding:0.5em
}
.the_day_th03,.the_day_th04,.the_day_th05{
	width:20%;
}
.karte{
	padding:8px;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#333;
border:solid 1px #ccc;
margin:0 10px 20px;
width:200px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.sinri_box0{
	margin-bottom:10px;
}
.dorag_input{
	padding:8px;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#333;
border:solid 1px #ccc;
margin:5px 5px 20px;
width:200px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.time{
	font-size:80%;
	color:#0186CC;
	font-weight: bold;
	padding-right:1em;
}
.info_deta{
	vertical-align: middle;
	margin-bottom:10px;
	position:relative;
}
.delete{
	position:absolute;
	top:0;
	right:0;
	border:solid 1px #d1d1d1;
	padding:2px 12px;
	background:#fff;
	border-radius:4px;
}
.delete:hover{
	cursor: pointer;
	background:#ff0000;
	color:#fff;
	border:solid 1px #fff;
}
#in_id{
	padding:8px;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#333;
border:solid 1px #ccc;
margin:0 10px 20px;
width:200px;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
.rireki_btn,.edit_btn{
	border-top:solid 1px #0186CC;
	border-right:solid 1px #0186CC;
	border-left:solid 1px #0186CC;
	border-bottom:solid 3px #3972B7;
	padding:4px;
	font-size: 80%;
	width:70px;
	margin:0 auto;
	border-radius:4px;
	background:#0186CC;
	color:#fff;
}
.rireki_btn:hover,.edit_btn:hover{
	cursor:pointer;
	background:#fff;
	color: #0186CC;
}
input[type="number"]{
	padding:5px;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#333;
border:solid 1px #ccc;
margin:0 10px 20px;
width:200px;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	font-size:90%;
}

#master_list{
	width:100%;
	border-top:solid 1px #d1d1d1;
	border-right:solid 1px #d1d1d1;
	font-size:80%;
}
#master_list th{
	border-bottom:solid 1px #d1d1d1;
	background:#EDEDED;
	vertical-align: middle;
	border-left:solid 1px #d1d1d1;
	padding:0;
}

#master_list td{
	border-left:solid 1px #d1d1d1;
	padding:1%;
	border-bottom:solid 1px #d1d1d1;
	text-align: center;
	padding:5px 0;
}

.dlete_btn{
	border:solid 1px #d1d1d1;
	padding:2px 12px;
	background:#fff;
	border-radius:4px;
	width:80px;
	margin:0 auto;
}
.dlete_btn:hover{
	cursor: pointer;
	background:#ff0000;
	color:#fff;
	border:solid 1px #fff;
}
#info_menu table{
	width:100%;
	border-top:solid 1px #d1d1d1;
	border-right:solid 1px #d1d1d1;
	font-size:80%;
}
#info_menu table tr th{
	border-bottom:solid 1px #d1d1d1;
	background:#EDEDED;
	vertical-align: middle;
	border-left:solid 1px #d1d1d1;
	padding:0;
}
#info_menu table tr td{
	border-left:solid 1px #d1d1d1;
	padding:1%;
	border-bottom:solid 1px #d1d1d1;
	text-align: center;
	padding:5px 0;
}
#info_menu table tr td select{
	text-align: center;
}
.kyusin{
	background:#ededed;
}